@font-face {
    font-family:"Minipax";
    src: url("../webfonts/Minipax-Regular.eot"),
         url("../webfonts/Minipax-Regular.eot") format("embedded-opentype"),
         url("../webfonts/Minipax-Regular.woff2") format("woff2");
  }

body {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper>* {
    flex: 1 100%;
}

h1, .menu-text {
    font-family: "Minipax";
}

.splide {
    flex: 1;
    box-shadow:
        inset 0px 22px 15px -20px #18191A,
        inset 0px -22px 15px -20px #18191A;
    text-align: center;
}

.splide__arrow {
    opacity: 0;
    pointer-events: none;
}

.splide__pagination {
    display: none;
}


#splide-left {
    background-color: #3A3B3C !important;
    color: #E4E6EB !important;
    order: 1;
}

#splide-right {
    background-color: #E4E6EB !important;
    color: #3A3B3C !important;
    order: 2;
}

footer {
    order: 3;
}