@font-face {
    font-family:"Minipax";
    src: url("../webfonts/Minipax-Regular.eot"),
         url("../webfonts/Minipax-Regular.eot") format("embedded-opentype"),
         url("../webfonts/Minipax-Regular.woff2") format("woff2");
  }

body {
    padding: 0;
    margin: 0;
}

h1, .menu-text {
    font-family: "Minipax";
}

.light-theme {
    background-color: #E4E6EB !important;
    color: #3A3B3C !important;
    height: 100vh;
}

.dark-theme {
    background-color: #3A3B3C !important;
    color: #E4E6EB !important;
    height: 100vh;
}